In [2]:
!pip install selenium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting selenium
  Downloading selenium-4.9.1-py3-none-any.whl (6.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 111.4 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /usr/local/lib/python3.10/dist-packages (from selenium) (1.26.15)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 30.8 MB/s eta 0:00:00
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.10.2-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.10/dist-packages (from selenium) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (2.4.0)
Collecting async-generator>=1.9 (from trio~=0.17->selenium)
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.1.1)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.9 MB/s eta 0:00:00
Installing collected packages: outcome, h11, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 h11-0.14.0 outcome-1.2.0 selenium-4.9.1 trio-0.22.0 trio-websocket-0.10.2 wsproto-1.2.0

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
first get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
driver.get("https://www.naukri.com/")

In [ ]:
# Entering Designation in search box-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

# Entering Location in search box-
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

#Clicking on Search Button-
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
#Creating Empty List for different attributes-
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
# Scraping Data for different Attributes-
job_title=[]
title_tags=driver.find_elements((By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags:
    job_title.append(i.text)
    

Company_Name=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    Company_Name.append(i.text)


job_location=[]
loc_tags=driver.find_elements((By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in loc_tags:
    job_location.append((By.XPATH,i.text)

Experience= []
exp_tags=driver.find_elements((By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in exp_tags:
    Experience.append(i.text)

In [ ]:
#checking length for all attributes-
print(len(job_title),len(job_location),len(Company_Name),len(Experience))

20 20 20 20

In [ ]:
# Creating Dataframe-
df=pd.DataFrame({'Job_title':job_title[0:10],'Job_location':job_location[0:10],'Company_name':Company_Name[0:10],'Exp_required':Experience[0:10]})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Oracle,1-4 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Zscaler Softech,5-6 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Capco,3-7 Yrs
3,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Enrich And Enlight Business Consulting,5-7 Yrs
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Alp Consulting,4-5 Yrs
5,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Boston Consulting Group,4-6 Yrs
6,Data Scientist (Analyst),Bangalore/Bengaluru,Adecco Group,1-4 Yrs
7,Supply Chain Specialist Staff,Bangalore/Bengaluru,Huquo Consulting Pvt. Ltd,2-7 Yrs
8,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram...",Croma,4-9 Yrs
9,Research Scientist,Bangalore/Bengaluru,Capco,7-12 Yrs

In [ ]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.# 2)Naukri Data-Data Scientist

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
driver.get("https://www.naukri.com/")

In [ ]:
# Entering Designation in search box-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

# Entering Location in search box-
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

#Clicking on Search Button-
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]

#Scrap all require data from webpage
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    

location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [ ]:
#checking length for all attributes-
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [ ]:
# Creating Dataframe-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
5,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco
6,Data Scientist (Analyst),Bangalore/Bengaluru,Visa
7,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks
8,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram...",PayU
9,Research Scientist,Bangalore/Bengaluru,Siemens

In [ ]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:
first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field .
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
driver.get("https://www.naukri.com/")

In [ ]:
# Entering Designation in search box-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

#Clicking on Search Button-
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

# Setting the location filter-
location_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
location_delhi.click()

# Setting the Salary filter-
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [ ]:
#Creating Empty List for different attributes-
job_title=[]
job_location=[]
company_name=[]
exp_Reqd=[]

In [ ]:
# Scraping Data for different Attributes from different pages-
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in title[0:10]:
        job_title.append(i.text)
    location=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']//span")
    for i in location[0:10]:
        job_location.append(i.text)    
    company=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
    for i in company[0:10]:
        company_name.append(i.text)
    experience=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
    for i in experience[0:10]:
        exp_Reqd.append(i.text)       
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [ ]:
#checking length for all attributes-
print(len(job_title),len(job_location),len(company_name),len(exp_Reqd))

10 10 10 10

In [ ]:
# Creating Dataframe-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experience':exp_Reqd})
df

,Job_title,Job_location,Company_name,Experience
0,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Science Associate,Delhi / NCR(Vaishali),Kreate Energy,2-4 Yrs
8,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

In [ ]:
driver.close()

4)Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price
To scrape the data you have to go through following steps:
Go to flipkart webpage by url https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it

In [4]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

WebDriverException: ignored

In [ ]:
# Opening the homepage-
driver.get("https://www.flipkart.com/")

In [ ]:
# Entering sunglasses in search box-
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('sunglasses')

# Closing the pop up-
pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

#Clicking on Search Button-
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [ ]:
#Creating Empty List for different attributes-
brand=[]
prod_desciption=[]
price=[]
time.sleep(3)

In [ ]:
# Scraping Data for different Attributes-
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands[0:100]:
        brand.append(i.text)
    Product_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in Product_desc[0:100]:
        prod_desciption.append(i.text)    
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [ ]:
#checking length for all attributes-
print(len(brand),len(prod_desciption),len(price))

120 114 120

In [ ]:
# Creating Dataframe-
df=pd.DataFrame({'Brand':brand[0:100],'Prod_desc':prod_desciption[0:100],'Price':price[0:100]})
df

             Brand                                          Prod_desc   Price
0   RESIST EYEWEAR  Polarized, Riding Glasses, UV Protection Wayfa...  ₹1,399
1   ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...    ₹399
2        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
3         Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹499
4         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹599
..             ...                                                ...     ...
95        Fastrack     UV Protection Spectacle Sunglasses (Free Size)    ₹519
96  ROZZETTA CRAFT  Night Vision, UV Protection Round Sunglasses (54)    ₹449
97  ROZZETTA CRAFT  UV Protection, Polarized, Mirrored Rectangular...    ₹649
98       Elligator   UV Protection Rectangular Sunglasses (Free Size)    ₹149
99      LIZA ANGEL  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹129

[100 rows x 3 columns]

In [ ]:
driver.close()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART.
you have to scrape the below mention attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
- You have to scrape this data for first 100 reviews

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [ ]:
#checking length for all attributes-
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

In [ ]:
#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [ ]:
print(len(stars),len(short_review),len(complete_review))

100 100 100

In [ ]:
df=pd.DataFrame({'Rating':stars,'Review_summary':short_review,'Full_summary':complete_review})
df

,Rating,Review_summary,Full_summary
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Wonderful,Its good.. a little heavy on my pinky but its ...
96,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
97,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
98,5,Perfect product!,Worth the money’ starting first from its perfo...
99,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...

In [ ]:
driver.close()

Q6:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 3 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
-  Also note that all the steps required during scraping should be done through code only and not manually.

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
driver.get("https://www.flipkart.com/")

In [ ]:
# Entering sneakers in search box-
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys('sneakers')

pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

#Clicking on Search Button-
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [ ]:
#Creating Empty List for different attributes-
brand=[]
description=[]
price=[]

In [ ]:
# Scraping Data for different Attributes-
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [ ]:
print(len(brand),len(description),len(price))

160 160 160

In [ ]:
# Creating Dataframe-
df=pd.DataFrame({'Brand':brand,'Prod_desc':description,'Price':price})
df

           Brand                                          Prod_desc   Price
0         BRUTON  Combo Pack Of 3 Latest Casual Shoes Sneakers F...    ₹557
1         Footox  Walking Shoes for Men | Running Shoes | Casual...    ₹699
2           aadi  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹282
3           aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹434
4         Kzaara                                   Sneakers For Men    ₹219
..           ...                                                ...     ...
155  bacca bucci  Comfy Mid-Top Casual Chunky Streetwear Fashion...  ₹1,599
156  bacca bucci  Cross Trainer Mid-Top Sporty Chunky Sneakers f...  ₹1,599
157         PUMA                 MAPF1 X-Ray Speed Sneakers For Men  ₹4,799
158     Skechers                   Go Run Fast - Sneakers For Women  ₹2,199
159         PUMA                           Skipper Sneakers For Men  ₹1,799

[160 rows x 3 columns]

In [ ]:
driver.close()

Q7:  Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7”
After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price# 8)Amazon Laptop

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
driver.get("https://www.amazon.in/")

In [ ]:
# Entering laptop in search box-
laptop=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptop.send_keys('Laptop')

#Clicking on Search Button-
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [ ]:
# code to filter i7 CPu-
cpu_filter1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[12]/span/a/div/label/i")
cpu_filter1.click()

In [ ]:
#Creating Empty List for different attributes-
Title=[]
price=[]
Ratings=[]
Rating=[]

In [ ]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in title[0:10]:
        Title.append(i.text) 
    prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in prices[0:10]:
        price.append(i.text)

In [ ]:
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
rating=[]
for i in range(0,len(Rating))[0:20]:
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [ ]:
#checking length for all attributes-
print(len(Title),len(price),len(rating))

10 10 10

In [ ]:
# Creating Dataframe-
df=pd.DataFrame({'Title':Title,'Price':price,'Ratings':rating})
df

                                               Title     Price Ratings
0  ASUS ZenBook Duo 14 (2021) Dual Screen Laptop,...  1,47,349     3.8
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...    94,990     4.3
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    49,990     4.2
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    79,990     4.1
4  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...    99,990     4.0
5  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...    74,990     3.7
6  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...    84,918     5.0
7  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  1,44,990     4.2
8  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    78,990     4.0
9  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    92,528     4.3

In [ ]:
driver.close()

Q8- Scrap Top 1000 Quotes Of All Time
This task will be done in following steps:<br>
1.First get the webpage https://www.azquotes.com/<br>
2. Click on Top Quotes<br>
3. Than scrap a) Quote b) Author c) Type Of Quote

In [ ]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
driver.get('https://www.azquotes.com/')

In [ ]:
# Click on Top Quotes
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search_button.click()

In [ ]:
# Details

Quote=[]
Author=[]
type_of_quote=[]

Details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//div[@class='wrap-block']")]

for i in Details:
    Quote.append(i[0])
    Author.append(i[1])
    type_of_quote.append(i[2])

In [ ]:
data=pd.DataFrame({'Quotes':Quote,'Author':Author,'Type of quote':type_of_quote })
data

,Quotes,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [ ]:
driver.close()

09write python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage -
url = "https://www.jagranjosh.com/"
driver.get(url)

In [ ]:
# do click in search button
gk_btn = driver.find_element(By.XPATH,'//*[@id="1540978020504"]/div[1]/header/div[3]/ul/li[9]/a')
gk_btn.click()

In [ ]:
pm_btn = driver.find_element(By.XPATH,'//*[@id="popluarGK"]/ul/li[2]/a')
pm_btn.click()

In [ ]:
Name= []
Born_Dead = []
Terms_of_office = []
Remarks = []

In [ ]:
#name
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for name in names:
    Name.append(name.text)
    

#borndead
born_dead = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_dead:
    Born_Dead.append(i.text)
    

#terms_of_office
terms_of_office = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in terms_of_office:
    Terms_of_office.append(i.text.replace('\n', ''))
    
    
#Remarks
remarks = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks:
    Remarks.append(i.text)

In [ ]:
len(Name),len(Born_Dead),len(Terms_of_office),len(Remarks)

(18, 18, 18, 18)

In [ ]:
df=pd.DataFrame({"Names":Name,"Born-Dead":Born_Dead,"Term of office":Terms_of_office,
                "Remarks":Remarks})
df

,Names,Born-Dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 196416 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 19661 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 196613 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 197711 years, 59 days",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 19844 years, 291...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 19895 years, 32 ...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 19964 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 199616 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [ ]:
driver.close()

Q10: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price and Description) from https://www.motor1.com/ This task will be done in following steps:

First get the webpage https://www.motor1.com/
Then You have to click on the List option from Dropdown menu on left side.
Then click on 50 most expensive cars in the world..
Then scrap the mentioned data and make the Dataframe

In [ ]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [ ]:
# Opening the homepage-
url=" https://www.motor1.com/"
driver.get(url)

In [ ]:
cl=driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
cl.click()

In [ ]:
#CLICKING ON THE LISTS TAB-
listy=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul//a')
listy.click()

In [ ]:
#CLICKING ON 50 MOST EXPENSIVE CARS IN THE WORLD TAB=
exp=driver.find_element(By.XPATH,"//div[@class='text-box']/h3/a[contains(@href,'-new-cars-ever')]")
exp.click()

In [ ]:
cars = []
names_50expcars = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in names_50expcars:
        cars.append(i.text)
cars.pop()

'Most Expensive Cars In The World'

In [ ]:
prices = []
prices_50expcars = driver.find_elements(By.XPATH,"//strong")

for j in prices_50expcars:
        prices.append(j.text)
prices.pop(4)

''

In [ ]:
print(len(cars),len(prices))

50 50

In [ ]:
most_expensive=pd.DataFrame({"NAME OF THE CAR":cars,"PRICE OF THE CAR IN ($)":prices})

In [ ]:
most_expensive

                    NAME OF THE CAR      PRICE OF THE CAR IN ($)
0                         Drako GTE          Price: $1.2 Million
1                     De Tomaso P72          Price: $1.3 Million
2                 Ferrari LaFerrari          Price: $1.4 Million
3                     Pagani Huayra          Price: $1.4 Million
4                      McLaren Elva          Price: $1.7 Million
5                       Czinger 21C          Price: $1.7 Million
6                     Ferrari Monza          Price: $1.7 Million
7                Gordon Murray T.33          Price: $1.7 Million
8                 Koenigsegg Gemera          Price: $1.7 Million
9                       Zenvo TSR-S          Price: $1.7 Million
10               Hennessey Venom F5          Price: $1.8 Million
11                  Bentley Bacalar          Price: $1.9 Million
12    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
13           Bentley Mulliner Batur          Price: $2.0 Million
14                     Deus Vayanne          Price: $2.0 Million
15                      SSC Tuatara         Price: $2.0 Million*
16                      Lotus Evija          Price: $2.1 Million
17              Aston Martin Vulcan          Price: $2.3 Million
18                       Delage D12          Price: $2.3 Million
19                McLaren Speedtail          Price: $2.3 Million
20                     Rimac Nevera          Price: $2.4 Million
21                    Pagani Utopia          Price: $2.5 Million
22             Pininfarina Battista          Price: $2.5 Million
23                Ferrari FXX K Evo          Price: $2.6 Million
24               Gordon Murray T.50          Price: $2.6 Million
25             Lamborghini Countach          Price: $2.6 Million
26         Mercedes-AMG Project One          Price: $2.7 Million
27              Aston Martin Victor          Price: $3.0 Million
28      Hennessey Venom F5 Roadster                 $3.0 Million
29                 Koenigsegg Jesko          Price: $3.0 Million
30            Aston Martin Valkyrie          Price: $3.2 Million
31        W Motors Lykan Hypersport          Price: $3.4 Million
32                    McLaren Solus                 $3.5 Million
33        Pagani Huayra Roadster BC          Price: $3.5 Million
34         Bugatti Chiron Pur Sport          Price: $3.6 Million
35                 Lamborghini Sian          Price: $3.6 million
36                 Koenigsegg CC850          Price: $3.7 Million
37  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
38               Lamborghini Veneno          Price: $4.5 Million
39                   Bugatti Bolide          Price: $4.7 Million
40                  Bugatti Mistral          Price: $5.0 Million
41              Pagani Huayra Imola          Price: $5.4 Million
42                     Bugatti Divo          Price: $5.8 Million
43              SP Automotive Chaos          Price: $6.4 Million
44                 Pagani Codalunga          Price: $7.4 Million
45         Mercedes-Maybach Exelero          Price: $8.0 Million
46               Bugatti Centodieci          Price: $9.0 Million
47             Rolls-Royce Sweptail         Price: $12.8 Million
48         Bugatti La Voiture Noire         Price: $13.4 Million
49           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)